<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clustering App</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-white">
                <div class="card-header text-center pt-4">
                    <h1 class="h4 text-center text-white">ALGORITMOS DE CLUSTERING</h1>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('result') }}" method="post">
                        <label for="algorithm">Elige un algoritmo:</label>
                        <select class="form-select" name="algorithm" id="algorithm">
                            <option value="kmeans">K-Means</option>
                            <option value="dbscan">DBSCAN</option>
                        </select>
                        <button class="btn btn-light w-100 mt-2" type="submit">Iniciar Clustering</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>